__pycache__/
*.pyc
.venv/
venv/
_ARCHIVE/
assets/winter_base.png
assets/_ARCHIVE
assets/_helpers/
assets/_references
assets/_templates
output/
config.json
state.json
debug_log.txt
screenshots/TODO.txt
TODO.txt